html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat-Bold', sans-serif;
}

p {
    color: #8f8f8f;
}

/* Section Color */

.colored-section {
    background-color: #ff4c68;
    color: white;
}

.white-colored {
    background-color: white;
}

/* Heading */

.big-heading {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 1000;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 1000;
}

.container-fluid {
    padding: 3% 15% 7%;
}

#title {
    text-align: left;
}

/* Navigation-Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

/* Download Buttons */

.download-btn {
    margin: 5% 3% 5% 0;
}

/* Title Image */

.title-img {
    width: 60%;
    position: absolute;
    transform: rotate(25deg);
    right: 28%;
    -webkit-animation: mover 6s infinite  alternate;
    animation: mover 6s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

/* Features */

#features {
    padding: 7% 15%;
    position: relative;
    z-index: 1;
}

.feature-title {
    font-weight: 1000;
    font-size: 1.5rem;
}

.feature-box {
    padding: 5%;
}

.features-gliph {
    margin-bottom: 1rem;
    color: #ef8172;
}

.features-gliph:hover {
    color: #ff4c68;
}

/* Testimonials */

#testimonials {
    background-color: #ef8172;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 1000;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing */

#pricing {
    padding: 100px;
}

.pricing-text {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 1000;
}

.pricing-breed {
    font-weight: 1000;
    font-size: 1.5rem;
}

.pricing-column {
    padding: 3% 2%;
}

@media (max-width:1028px) {
    #title {
        text-align: center;
    }
    .title-img {
        position: static;
        transform: rotate(0);
    }
}

/* Call to action */

#cta {
    padding: 7% 15%;
}

/* Footer */

#footer {
    padding: 3% 15%;
}

.footer-logo {
    padding: 2% 1%;
}

.fa-twitter:hover {
    color: #1DA1F2;
    scale: 1.2;
    cursor: pointer;
}

.fa-facebook-f:hover {
    color: #4267B2;
    scale: 1.2;
    cursor: pointer;
}

.fa-instagram:hover {
    color: #C13584;
    scale: 1.2;
    cursor: pointer;
}

.fa-envelope:hover {
    color: #c71610;
    scale: 1.2;
    cursor: pointer;
}